body {
  font-family: Arial, sans-serif;
  background: #111;
  padding: 20px;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.card {
  background: #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.7);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-desc {
  font-size: 14px;
  opacity: 0.8;
}
